.homeWide {
  --topboxWidth: min(90vw, 1300px);
  --topboxHeight: min(50vw,700px);
}

.homeNarrow {
  --topboxWidth: 100vw;
  --topboxHeight: min(150vw,1050px);
}

.homeWide .topbox {
  background-color: var(--blue);

  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  height: var(--topboxHeight);
}

.homeNarrow .topbox {
  background-color: var(--blue);

  display: flex;
  flex-direction: row;
  justify-content: center;

  width: var(--topboxWidth);
  max-width: 100%;
  height: var(--topboxHeight);
}

.homeWide .topbox .flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: var(--topboxWidth);
  height: var(--topboxHeight);
}

.homeNarrow .topbox .flexbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  width: var(--topboxWidth);
  max-width: 100%;
  height: var(--topboxHeight);
}

.homeWide .topbox .intro {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: calc(var(--topboxWidth)*0.05);
  padding-right: calc(var(--topboxWidth)*0.025);

  width: min(50%, var(--topboxWidth)/2);
}

.homeNarrow .topbox .intro {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: calc(var(--topboxWidth)*0.21);
  margin-right: calc(var(--topboxWidth)*0.15);

  width: calc(var(--topboxWidth)*0.64);
  max-width: 100%;
  height: calc(var(--topboxHeight)*0.5);
}

.homeWide .topbox .line1 {
  font-family: "SF-Pro-Display-Bold";
  color: black;
  font-size: calc(var(--topboxHeight)/10);
}

.homeNarrow .topbox .line1 {
  font-family: "SF-Pro-Display-Bold";
  color: black;
  font-size: calc(var(--topboxHeight)/20);
}

.homeWide .topbox .line2 {
  font-family: "SF-Pro-Display-Bold";
  color: black;
  font-size: calc(var(--topboxHeight)/8);
  padding-bottom: calc(var(--topboxHeight)/60);
}

.homeNarrow .topbox .line2 {
  font-family: "SF-Pro-Display-Bold";
  color: black;
  font-size: calc(var(--topboxHeight)/15);
  padding-bottom: calc(var(--topboxHeight)/100);
}

.homeWide .topbox .line3 {
  font-family: "SF-Pro-Display-Regular";
  color: black;
  font-size: calc(var(--topboxHeight)/25);
}

.homeNarrow .topbox .line3 {
  font-family: "SF-Pro-Display-Regular";
  color: black;
  font-size: calc(var(--topboxHeight)/38);
}

.homeWide .topbox .logoRow {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: min(50%, var(--topboxWidth)/2);
}

.homeNarrow .topbox .logoRow {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: var(--topboxWidth);
  max-width: 100%;
}

.homeWide .topbox .logoCol {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    --imageWidth: min(90%, var(--topboxWidth) * 0.9);
    width: var(--imageWidth);
    height: 100%;
  }

  .homeNarrow .topbox .logoCol {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    --imageWidth: calc(var(--topboxWidth) * 0.7);
    width: var(--imageWidth);
    max-width: 100%;
    height: 100%;
  }

.homeWide .topbox .image {
    width: var(--imageWidth);
}