.listWide {
    min-height: calc(100vh - calc(var(--wideBarWidth)/18) - var(--navbarHeight));;
    
    background: linear-gradient(90deg, var(--blue) 50%, var(--lightblue) 50%);

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.listNarrow {
    min-height: calc(100vh - calc(var(--narrowBarWidth)/9) - var(--navbarHeight));;
    
    background: linear-gradient(180deg, var(--blue) 40vw, var(--lightblue) 40vw);;

    display: flex;
    flex-direction: column;
}


.listWide .horizontalFlexBox {
    width: var(--listWideWidth);
    min-height: 100%;
    background: linear-gradient(90deg, var(--blue) 36%, var(--lightblue) 36%);

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.listWide .heading {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: calc(var(--listWideWidth)*0.33);
    margin-left: calc(var(--listWideWidth)*0.015);
}

.listWide .verticalFlexBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.listWide .title {
    font-family: "SF-Pro-Display-Bold";
    color: black;
    font-size: calc(var(--listWideWidth)/35);

    margin-top: calc(var(--listWideWidth)/20);
    margin-bottom: calc(var(--listWideWidth)/40); 
}

.listNarrow .title {
    display: flex;
    flex-direction: row;
    justify-content: center;

    font-family: "SF-Pro-Display-Bold";
    color: black;
    font-size: calc(var(--listNarrowWidth)/20);

    margin-top: calc(var(--listNarrowWidth)/20);
    margin-bottom: calc(var(--listNarrowWidth)/40); 
}

.listWide .imageCentre, .listNarrow .imageCentre {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.listWide .image {
    width: calc(var(--listWideWidth)/10);
}

.listNarrow .image {
    width: calc(var(--listNarrowWidth)/6);
}

.listWide .list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin-top: calc(var(--listWideWidth)/60)
}

.listNarrow .list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin-top: calc(var(--listNarrowWidth)/60)
}



