.navbar {
  position: sticky;
  top: 0;

  filter: drop-shadow(0px 1px 1px var(--gray));
  -webkit-tap-highlight-color: transparent;
}

.navbar a {
  color: black;
  text-decoration: none;
}

.navbar .item a:hover, .item a:active {
  color: var(--deepgray);
  text-decoration: none;
}

.navbarWide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  --navbarheight: 55px;
  height: var(--navbarheight);
  background-color: white;
}

.navbarNarrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  --navbarheight: 55px;
  height: var(--navbarheight);
  background-color: white;
}

.navbarNarrowActive{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  --navbarheight: 55px;
  height: 130px;
  background-color: white;
}

.navbar .flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: min(100%, 1000px);
  height: var(--navbarheight);
}

.navbar .title {
  font-family: "SF-Pro-Display-Bold";
  color: black;
  font-size: calc(var(--navbarheight) * 0.4);
}

.navbarNarrow .verticalflexbox, .navbarNarrowActive .verticalflexbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: min(100%, 1000px);
}

.navbarWide .item {
  font-family: "SF-Pro-Display-Regular";
  color: black;
  font-size: calc(var(--navbarheight) * 0.3);
}

.navbarNarrow .item, .navbarNarrowActive .item  {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: calc(var(--navbarheight) * 0.3);  
  margin-right: calc(var(--navbarheight) * 0.3);
}

.navbarNarrow .menu, .navbarNarrowActive .menu {
  width: 25px;
}

.navbar .button {
  padding-top: calc(var(--navbarheight) * 0.25);
  padding-bottom: calc(var(--navbarheight) * 0.25);
  padding-left: calc(var(--navbarheight) * 0.3);
  padding-right: calc(var(--navbarheight) * 0.3);
}
