.dropDownFlexBox {
  position: sticky;
  top: 0;
}

.dropDownMenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.menuItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  padding-left: 25px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;

  font-family: "SF-Pro-Display-Regular";
  color: black;
  font-size: calc(var(--navbarheight) * 0.3);
}

.dropDownMenu .item a:hover,
.item a:active {
  color: var(--deepgray);
  text-decoration: none;
}
