@font-face {
  font-family: "Inter-Regular";
  src: url("src/assets/fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url("src/assets/fonts/Inter-SemiBold.ttf");
}

@font-face {
  font-family: "Inter-Bold";
  src: url("src/assets/fonts/Inter-Bold.ttf");
}

* {
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}

button {
  cursor: pointer;
}

:root {
  --darkblue: #5d95da;
  --hoverdarkblue: #77a9e5;
  --hoverdeepblue: #a9d1ff;
  --verydeepblue: #b8d6f9;
  --deepblue: #bedcff;
  --blue: #d8eaff;
  --lightblue: #f2f8ff;
  --backgroundblue: #f1f7ff;
  --deepgray: #b0b0b0;
  --gray: #ededed;
  --shadowgray: rgb(209, 209, 209);

  --wideBoxWidth: min(100vw, 1300px);
  --wideBoxHeight: min(50vw, 650px);
  --wideBarWidth: min(100vw, 1000px);
  --narrowBarWidth: 100vw;
  --listWideWidth: min(100vw, 1000px);
  --listNarrowWidth: 100vw;
  --navbarHeight: 55px;
  --narrowBoxWidth: 100vw;
  --narrowBoxHeight: 130vw;

  --postWidth: min(95vw, 720px);
  --padding: 40px;
  --imageWidth: min(calc(var(--postWidth) - var(--padding) * 2), 500px);

  --minHeightWide: calc(100vh - calc(var(--wideBarWidth) / 18));
  --minHeightNarrow: calc(100vh - calc(var(--wideBarWidth) / 9));

  --displaytempWidth: min(90vw, 700px);

  letter-spacing: -0.035em;
}

.mainWide {
  min-height: var(--minHeightWide);
}

.mainNarrow {
  min-height: var(--minHeightNarrow);
}

@import "src/css/navbar/dropdownmenu.css";
@import "src/css/navbar/navbar.css";
@import "src/css/bottombar/bottombar.css";
@import "src/css/home/topBox.css";
@import "src/css/home/thingsDid.css";
@import "src/css/home/subscribe.css";
@import "src/css/home/modal.css";
@import "src/css/list/list.css";
@import "src/css/list/listitem.css";
@import "src/css/posttemp/posttemp.css";
@import "src/css/posttemp/element.css";
@import "src/css/loading.css";
@import "src/css/displaytemp.css";
