@font-face {
  font-family: "SF-Pro-Display-Regular";
  src: url('./assets/fonts/SF-Pro-Display-Regular.ttf')
}

@font-face {
  font-family: "SF-Pro-Display-Semibold";
  src: url('./assets/fonts/SF-Pro-Display-Semibold.ttf')
}

@font-face {
  font-family: "SF-Pro-Display-Bold";
  src: url('./assets/fonts/SF-Pro-Display-Bold.ttf')
}

* {
  margin: 0px;
}

:root {
  --deepblue: #BEDCFF;
  --blue: #D8EAFF;
  --lightblue: #F2F8FF;
  --backgroundblue: #F1F7FF;
  --deepgray: #6F6F6F;
  --gray: #EDEDED;
  --shadowGray: rgb(185, 185, 185);

  --wideBoxWidth: min(100vw, 1300px);
  --wideBoxHeight: min(50vw, 650px);
  --wideBarWidth: min(100vw, 1000px);
  --narrowBoxWidth: 100vw;
  --narrowBoxHeight: 130vw;
}

@import "./css/navbar/dropdownmenu.css";
@import "./css/navbar/navbar.css";
@import "./css/bottombar/bottombar.css";
@import "./css/home/topBox.css";
@import "./css/home/thingsDid.css";